<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}GearGuard{% endblock %}
    </title>

    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>


    {% block head %}{% endblock %}
</head>
<body>

    <!-- 🔹 Top Navbar -->
    <header>
        <nav class="navbar">
            <h2 class="logo">GearGuard</h2>

            <ul class="nav-links">
                <li><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('calendar.calendar') }}">Calendar</a></li>
                <li><a href="{{ url_for('equipment.equipment') }}">Equipment</a></li>
                <li><a href="{{ url_for('kanban.kanban') }}">Kanban</a></li>
            </ul>

            <ul class="auth-links">
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            </ul>
        </nav>
        <!--  Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="flash {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </header>

    <!-- 🔹 Main Page Content -->
    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <!-- 🔹 Footer -->
    <footer class="footer">
        <p>© 2025 GearGuard-Odoo</p>
    </footer>

</body>
</html>

